.dashboard-main{
    display: flex;
    height: 100%;
}

.sidebar-container{
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-select-container{
    width: 100%;
}

.team-select-container .rh-select-trigger{
    border: 1px solid #e9e9e9;
    background-color: transparent;
    padding: .8rem 1rem;
}

.team-select-container .rh-select-value,
.team-select-container .rh-select-chevron{
    color: #212121;
}

.sidebar-top-container,
.sidebar-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2.5rem;
}

.sidebar-nav-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-nav-option-container:hover,
.sidebar-nav-option-container.selected{
    background-color: #f5f5f5;
    border-radius: .5rem;
}

@media screen and (max-width: 768px){
    .sidebar-container{
        position: fixed;
        z-index: 500;
        background-color: rgba(255, 255, 255, .8);
        backdrop-filter: blur(5px);
        visibility: hidden;
    }

    .sidebar-container[data-isenabled='true']{
        visibility: unset;
    }
}