.dashboard-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0c0c0c;
}

.dashboard-layout-header-container{
    padding: 1rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-user-container{
    display: flex;
    gap: 1.5rem;
}

.badge-container.as-icon-container{
    position: unset;
    padding: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-container.as-icon-container.over-light-bg{
    color: rgb(225 225 225);
    border-color: #212121;
}

.navigation-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #212121;
    width: fit-content;
    border-radius: 5rem;
    padding: 5px;
}

.navigation-item-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

.navigation-item-icon{
    display: none;
    font-size: 1.2rem;
}

.navigation-item-container.is-selected{
    background-color: #FFF;
}

.navigation-item-container.is-selected .navigation-item-icon{
    display: flex;
}

.navigation-item-name{
    font-size: .95rem;
    font-weight: 500;
    color: #5e5e5e;
}

.navigation-item-container.is-selected .navigation-item-name{
    color: #212121;
}