.slice-plane-container {
    bottom: 2rem;
    right: 2rem;
    /* display: flex handled by EditorWidget */
}

.slice-plane-normal-input-container {
    background-color: rgba(49, 49, 49, 0.8);
    border-radius: var(--radius-full);
    padding: 0 .8rem;
    height: 35px;
}

.slice-plane-normal-input {
    background-color: transparent;
    width: 25px;
    color: #ebebeb;
}

.slice-plane-normal-input-extended,
.slice-plane-toggle-extended {
    width: 150px;
}