.editor-sidebar-scene-option-select-container .editor-sidebar-scene-option-title {
    font-size: 1rem;
    margin-left: 3.8rem;
}

.editor-sidebar-scene-option-container:active {
    transform: scale(.99);
}

.editor-sidebar-scene-option-more-icon-container {
    display: none;
}

.editor-sidebar-scene-option-container:hover {
    background-color: var(--hover-bg);
}

.editor-sidebar-scene-option-container:hover .editor-sidebar-scene-option-more-icon-container {
    display: unset;
}

.editor-sidebar-scene-option-title {
    font-size: 1.2rem;
}

.editor-sidebar-scene-option-icon-container {
    background-color: var(--color-surface-2);
    padding: .8rem;
    font-size: 1.3rem;
    border-radius: var(--radius-sm);
}

.editor-sidebar-scene-option-container {
    padding: .5rem;
    border-radius: var(--radius-md);
    will-change: transform;
}

.editor-sidebar-scene-option-container.selected {
    background: rgb(22 22 22);
}