.chat-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    gap: 2rem;
}

.chat-sidebar-container{
    width: 400px;
    padding: 2rem 0;
}

.chat-messages-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.chat-details-container{
    width: 400px;
    height: 100%;
}

.chat-box-container{
    width: -webkit-fill-available;
    height: 100%;
}

.chat-box-header-container{
    height: 100px;
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-top: unset;
    border-bottom: unset;
}

.chat-box-messages-container{
    height: calc(100% - 200px);
    border: 1px solid rgb(224, 224, 224);
    border-bottom: unset;
    background-color: #fbfbfb;
}

.chat-main-container.wrapper{
    display: unset;
}

.chat-sidebar-header-title{
    font-size: 2rem;
    font-weight: 500;
}

.chat-sidebar-header-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-sidebar-search-container{
    width: 100%;
    background-color: #f3f3f3;
    padding: .8rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.chat-sidebar-search-input{
    width: 100%;
    background-color: transparent;
    outline: none;
}