.form-control-label{
    font-size: 12px;
    color: #B6B6B6;
    min-width: 80px;
    font-weight: 500;
}

.form-control-value{
    font-size: 11px;
    color: #8a8a8a;
    min-width: 40px;
    text-align: right;
}