.form-control-value{
    font-size: 11px;
    color: #8a8a8a;
    min-width: 40px;
    text-align: right;
}

.form-control-row-slider-container{
    display: flex;
    align-items: center;
    gap: .2rem;
}