.sidebar-user-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .2s;
}

.sidebar-user-avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sidebar-user-container:hover {
    opacity: .8;
}

.sidebar-user-avatar {
    text-transform: uppercase;
}

.sidebar-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 500;
    font-size: 1.2rem;
}

.sidebar-user-details-container {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.sidebar-user-avatar-container[data-avatarrounded='true'] {
    font-size: 1rem;
    background-image: linear-gradient(to top, #5602b6 0%, #9472cdf5 100%);
}

.sidebar-user-fullname {
    font-size: 1.1rem;
    color: var(--color-text-primary);
    text-transform: capitalize;
}