.sidebar-user-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .2s;
}

.sidebar-user-container:hover{
    opacity: .8;
}

.sidebar-user-avatar{
    text-transform: uppercase;
}

.sidebar-user-avatar-container{
    background-image: linear-gradient(to right, #2b2b2b 0%, #5f5f5f 100%);
    width: 40px;
    border-radius: .5rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 500;
    font-size: 1.2rem;
}

.sidebar-user-details-container{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.sidebar-user-avatar-container[data-avatarrounded='true']{
    font-size: 1rem;
    background-image: linear-gradient(to top, #5602b6 0%, #9472cdf5 100%);
}

.sidebar-user-fullname{
    font-size: 1.1rem;
    color: var(--color-text-primary);
    text-transform: capitalize;
}