.sidebar-user-container {
    transition: .2s;
}

.sidebar-user-avatar-img {
    border-radius: 50%;
}

.sidebar-user-container:hover {
    opacity: .8;
}

.sidebar-user-avatar {
    text-transform: uppercase;
}

.sidebar-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.2rem;
}

.sidebar-user-avatar-container[data-avatarrounded='true'] {
    font-size: 1rem;
    background-image: linear-gradient(to top, #5602b6 0%, #9472cdf5 100%);
}

.sidebar-user-fullname {
    font-size: 1.1rem;
    text-transform: capitalize;
}