.labeled-input{
    width: 160px;
    height: 2rem;
    padding: 0 1rem;
    background-color: var(--input-bg);
    color: var(--input-fg);
    border-radius: .5rem;
}

.labeled-input.rh-select{
    padding: 0;
}

.labeled-input:focus{
    outline: 2px solid var(--input-focus-ring);
    outline-offset: 2px;
}

.labeled-input:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}