.raster-view-container{
    height: 100%;
    overflow: hidden;
    padding: .5rem 2rem;
}

.raster-view-trajectory-name-container{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #161616;
    padding: .8rem 2.5rem;
    border-radius: 5rem;
}

.raster-view-trajectory-name{
    color: #dadada;
    text-transform: capitalize;
    font-size: 1rem;
}

.raster-scenes-container{
    background-color: #212121;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.raster-scene-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.raster-scene{
    height: 500px;
}

.raster-thumbnails{
    position: absolute;
    display: flex;
    bottom: 0;
    padding: .5rem;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
}

.raster-thumbnail{
    border: 1px solid #323232;
    border-radius: 1rem;
    width: 250px;
}

.raster-analyses-container{
    display: flex;
    position: absolute;
    gap: 1rem;
    padding: .5rem;
    flex-direction: column;
    top: 0;
    right: 0;
}

.raster-analysis-scene{
    height: 150px;
    border: 1px solid #323232;
    border-radius: 1rem;
    width: auto;
}

.raster-frames-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}