.raster-view-container{
    height: 100%;
    overflow: hidden;
    padding: .5rem 2rem;
}

.raster-view-trajectory-name-container{
    top: 1rem;
    left: 1rem;
    background-color: #161616;
    padding: .8rem 2.5rem;
    border-radius: 5rem;
}

.raster-floating-container{
    background-color: #161616;
    position: absolute;
    color: #dadada;
}

.raster-view-trajectory-playback-container{
    bottom: 1.5rem;
    font-size: 1.5rem;
    border-radius: 5rem;
    padding: .5rem 1rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.raster-view-trajectory-play-icon{
    font-size: 1.8rem;
}

.raster-view-trajectory-editor-icon-container{
    right: 1rem;
    top: 1rem;
    padding: .8rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-size: 1.3rem;
    gap: .5rem;
}

.raster-floating-helper-text{
    font-size: 1rem;
    font-weight: 500;
}

.raster-view-trajectory-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.raster-scenes-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    border-radius: 1rem;
}

.raster-scene-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border: 1px solid #161616;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.raster-scene{
    height: 500px;
}

.raster-scenes-top-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.raster-thumbnails{
    height: 200px;
    display: flex;
    bottom: 0;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
}

.raster-thumbnail{
    border: 1px solid #323232;
    border-radius: 1rem;
    width: 280px;
}

.raster-analyses-container{
    width: 280px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    right: 0;
}

.raster-analysis-scene{
    height: 150px;
    border: 1px solid #323232;
    border-radius: 1rem;
    width: auto;
}

.raster-frames-container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}