.shortcuts-modal-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(1.5px);
    z-index: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts-modal-container{
    width: 60%;
    height: 700px;
    box-shadow: 0 0 3px 0 #dadada;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .95);
}

.shortcuts-modal-header-container{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shortcuts-modal-header-close-icon-container{
    background-color: rgba(216, 216, 216, 0.3);
    backdrop-filter: blur(2px);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.shortcuts-modal-header-close-icon-container:hover{
    opacity: .8;
}

.shortcuts-modal-header-title{
    font-size: 1.5rem;
    color: #242424;
}