
@media screen and (max-width: 768px) {
    .editor-timesteps-controls-slider {
        min-width: 120px;
    }

    .editor-timestep-controls input[type='range'] {
        width: 2rem;
    }

    .editor-timesteps-controls-slider label {
        font-size: 0.85rem;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}