.auth-loading-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-loading-layer-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    background-color: var(--glass-bg);
    backdrop-filter: blur(2px);
    transition: all 0.2s;
}