.file-upload-container {
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(59, 130, 246, 0); 
    backdrop-filter: blur(0px);
    border: 1px solid transparent;
    transition: opacity 0.3s ease, 
                background-color 0.3s ease, 
                backdrop-filter 0.3s ease,
                border-color 0.3s ease;
}

.file-upload-container.is-dragging-over{
    opacity: 1;
    pointer-events: auto;
    border-color: #3b82f6;
    backdrop-filter: blur(3px);
    background-color: rgba(59, 130, 246, 0.1);
}
