/* SettingsLayout.css */
/* Shared settings layout styles */

.settings-main {
    padding: 2rem;
}

.settings-content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.settings-layout-container{
    height: 100%;
    overflow: scroll;
}