@layer normalize, base, demo, toggle, debug, transitions;

@layer debug {
  
}

@layer transitions {
  :root {
    --transition: 0.15s;
    --ease: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  [data-bounce='true']:has(button:active, [data-active='true']) {
    --transition: 0.4s;
    --ease: cubic-bezier(0.68, -0.55, 01.55);
  }
  
  .indicator--masked .mask {
    translate: calc(
        (var(--complete) / 100) * (100cqi - 60cqi - (0 * var(--border)))
      ) -50%;
    transition-property: height, width, margin, scale;
    transition-duration: var(--transition);
    transition-timing-function: var(--ease);
    will-change: transform, height, width, margin;
    transform: translate3d(0, 0, 0);
  }
  
  .wrapper {
    clip-path: inset(0 0 0 0 round 100px);
    filter: blur(6px);
    transition: filter var(--transition) var(--ease);
  }
  
  [aria-pressed='true']:not([data-active='true']) .liquid__track {
    left: calc(var(--border) * 6);
  }
  
  .liquid__track {
    left: 0;
    transition-property: height, width, filter, left;
    transition-duration: var(--transition);
    transition-timing-function: var(--ease);
    translate: calc(
        (var(--complete) / 100) * (100cqi - 100% - (6 * var(--border)))
      ) -50%;
    will-change: transform, height, width, filter, left;
    transform: translate3d(0, 0, 0);
  }
  
  .indicator__liquid {
    translate: calc(
        (var(--complete) / 100) * (100cqi - 100% - (2 * var(--border)))
      ) -50%;
    transition-property: scale;
    transition-duration: var(--transition);
    transition-timing-function: var(--ease);
    will-change: transform, scale;
    transform: translate3d(0, 0, 0);
  }
  
  .indicator__liquid :is(.cover, .shadow) {
    transition: opacity var(--transition) var(--ease);
    will-change: opacity;
  }
  
  /* Active states - these are the actual changes when we scale up */
  [data-active='true'] .indicator--masked .mask,
  .liquid-toggle:active .indicator--masked .mask {
    height: calc((100% - (2 * var(--border))) * 1.65);
    width: calc((60% - (2 * var(--border))) * 1.65);
    margin-left: calc((60% - (2 * var(--border))) * -0.325);
    /* we can't use scale because of Safari flashing the mask color on change... */
  }
  
  [data-active='true'] .indicator__liquid,
  .liquid-toggle:active .indicator__liquid {
    scale: 1.65;
  }

  [data-active='true'] .wrapper,
  .liquid-toggle:active .wrapper {
    filter: blur(0px);
  }

  [data-active='true'] .indicator__liquid .shadow,
  .liquid-toggle:active .indicator__liquid .shadow {
    opacity: 1;
  }

  [data-active='true'] .indicator__liquid .cover,
  .liquid-toggle:active .indicator__liquid .cover {
    opacity: 0;
  }

  [data-active='true'] .indicator__liquid .liquid__track,
  .liquid-toggle:active .indicator__liquid .liquid__track {
    left: calc(var(--border) * 3);
    height: calc((var(--height) * 1px) - (6 * var(--border)));
  }
}

@layer toggle {
  /* this is the button */
  .liquid-toggle {
    --unchecked: hsl(218, 8%, 81%);
    --checked: hsl(
      144,
      calc((8 + (var(--complete) / 100 * (92))) * 1%),
      calc((81 - (var(--complete) / 100 * (81 - 43))) * 1%)
    );

    --control: hsl(300, 100%, 100%);
    --border: 3px;
    --width: 80;
    --height: 30;
    height: calc(var(--height) * 1px);
    width: calc(var(--width) * 1px);
    border-radius: var(--radius-full);
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    overflow: visible;
    container-type: inline-size;
    background: #0000;
    transition: outline var(--transition) var(--ease);
    outline-offset: 2px;
  }

  .liquid-toggle:focus-visible {
    outline: 4px solid color-mix(in oklch, var(--checked), #0000);
  }

  .liquid-toggle:active {
    outline: none;
  }
  
  .liquid-toggle[data-active='true']:focus-visible {
    outline: 4px solid #0000;
  }

  .indicator {
    border-radius: var(--radius-full);
    pointer-events: none;
    height: 100%;
    width: 100%;
    background: var(--checked);
    position: absolute;
    top: 50%;
    scale: 1;
    left: 50%;
    translate: -50% -50%;
  }

  .knockout {
    height: calc(var(--height) * 1px);
    width: calc(var(--width) * 1px);
    border-radius: var(--radius-full);
    filter: url(#remove-black);
    position: absolute;
    inset: 0;
    will-change: filter, scale;
    transform: translate3d(0, 0, 0);
  }
  
  .indicator--masked {
    background: var(--checked);
    z-index: 12;
    height: 100%;
    width: 100%;
    translate: -50% -50%;
    container-type: inline-size;
  }

  .indicator--masked .mask {
    position: absolute;
    height: calc(100% - (2 * var(--border)));
    width: calc(60% - (2 * var(--border)));
    top: 50%;
    background: #000;
    left: var(--border);
    border-radius: var(--radius-full);
  }

  .wrapper {
    position: absolute;
    inset: 0;
    border-radius: var(--radius-full);
  }

  .liquids {
    position: absolute;
    inset: 0;
    transform: translate3d(0, 0, 0);
    border-radius: var(--radius-full);
    overflow: hidden;
    filter: url(#goo);
  }

  .liquid__shadow {
    position: absolute;
    inset: 0;
    box-shadow: inset 0px 0px 3px 4px var(--checked),
      inset calc(((var(--complete) / 100) * 8px) + -4px) 0px 3px 4px
        var(--checked);
    border-radius: var(--radius-full);
  }

  .liquid__track {
    content: '';
    height: calc((var(--height) * 1px) - (0 * var(--border)));
    width: calc((var(--width) * 1px) - (0 * var(--border)));
    background: var(--checked);
    border-radius: var(--radius-full);
    position: absolute;
    top: 50%;
  }

  .indicator__liquid {
    position: absolute;
    height: calc(100% - (2 * var(--border)));
    width: calc(60% - (2 * var(--border)));
    container-type: inline-size;
    top: 50%;
    /* only apply a background if you don't want to see underneath */
    background: #0000;
    left: var(--border);
    border-radius: var(--radius-full);
  }

  .indicator__liquid .shadow {
    opacity: 0;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--radius-full);
    box-shadow: 1px -1px 2px hsl(0 0% 100% / 0.5) inset,
      0px -1px 2px hsl(0 0% 100% / 0.5) inset,
      -1px -1px 2px hsl(0 0% 100% / 0.5) inset,
      1px 1px 2px hsl(0 0% 30% / 0.5) inset,
      -8px 4px 10px -6px hsl(0 0% 30% / 0.25) inset,
      -1px 1px 6px hsl(0 0% 30% / 0.25) inset,
      -1px -1px 8px hsl(0 0% 60% / 0.15), 1px 1px 2px hsl(0 0% 30% / 0.15),
      2px 2px 6px hsl(0 0% 30% / 0.15),
      -2px -1px 2px hsl(0 0% 100% / 0.25) inset,
      3px 6px 16px -6px hsl(0 0% 30% / 0.5);
    z-index: 20;
  }

  .indicator__liquid .cover {
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    border-radius: var(--radius-full);
  }
}

@layer base {
  :where(.bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }
}