.editor-sidebar-scene-option-container{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    will-change: transform;
}

.editor-sidebar-scene-option-container:active{
    transform: scale(.99);
}

.editor-sidebar-scene-option-container:hover{
    background-color: rgb(85 85 85 / 18%);
}

.editor-sidebar-scene-option-title{
    font-size: 1.2rem;
}

.editor-sidebar-scene-option-icon-container{
    background-color: #212121;
    padding: .8rem;
    font-size: 1.3rem;
    border-radius: .5rem;
}