.team-creator-container{
    width: 90vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 600px;
    position: absolute;
    z-index: 99999999999999999999;
    border-radius: .5rem;
    overflow: hidden;
}

.team-creator-container{
    height: 100%;
    display: flex;
}

.team-creator-loader-container{
    margin-top: 1rem;
}

.team-creator-background{
    width: 100%;
    height: 100%;
}

.team-creator-title{
    font-size: 1.7rem;
}

.team-creator-description{
    font-size: 1rem;
    line-height: 1.5rem;
}

.team-creator-body-container .button{
    width: 80%;
}