.editor-floating-container {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.3);
    border: 1px solid #212121;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 200;
    padding: 1rem;
    border-radius: 1rem;
    color: #cacaca;
    line-height: 1.6rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*cursor: grab;*/
    opacity: 1;
    transition: opacity 500ms ease;
}

.editor-floating-container.dimmed {
    opacity: 0.5;
}

.editor-floating-header-icon {
    color: #cacaca;
}

@media screen and (max-width: 768px) {
    .editor-floating-container {
    left: 0;
    right: 0;
    width: auto;
    margin: 0 1rem 1rem;
    padding: 1rem;
    max-width: none;
    transform: none !important;
    /* keep it visible on mobile */
    display: flex !important;
    }
}