.trajectories-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 2rem;
}

.trajectories-container > *{
    will-change: transform, opacity;
    backface-visibility: hidden;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce){
    .trajectories-container *{
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
    }
}

@media screen and (max-width: 768px) {
    .trajectories-container{
   display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    height: 350px;
    }

    .trajectories-container > * {
        flex: 0 0 auto;
        min-width: 350px; 
        scroll-snap-align: start;
    }
}
