.trajectories-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
    row-gap: 6rem;
}

.trajectories-container > *{
    will-change: transform, opacity;
    backface-visibility: hidden;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce){
    .trajectories-container *{
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
    }
}