.file-item {
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.file-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-delete-icon-container {
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: all 0.2s;
}

.file-delete-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.file-delete-icon {
    cursor: pointer;
    color: #cacaca;
    font-size: 1rem;
}

.file-details {
    display: flex;
    gap: .5rem;
    padding: .5rem 0;
    overflow-x: scroll;
}

.file-details span {
    font-size: .95rem;
}