.form-input-wrapper-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
}

.form-input-container{
    width: 100%;
    height: 45px;
    border: 1px solid hsl(0deg 0% 86.76%);
    border-radius: .5rem;
}

.form-input-label{
    font-weight: 400;
    font-size: 13px;
    color: hsl(0,0%,40%);
}

.form-input{
    height: 100%;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
}
