.editor-timestep-controls {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: auto;
    transform: translateX(-50%) !important;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .editor-timestep-controls {
        flex-direction: row;
        bottom: 2rem;
        gap: 0.5rem;
        font-size: .8rem;
        padding: 0.8rem 0.75rem;
        display: flex !important;
        width: 90%;
    }

    .editor-timestep-controls-play-pause-button {
        order: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }
}