# NODE_ENV: Defines the server execution environment. 
NODE_ENV=development

TRAJECTORY_DIR = 'storage/trajectories'
ANALYSIS_DIR = 'storage/analysis'
UPLOAD_DIR = 'storage/uploads'

# 5GB
MAX_FILE_SIZE_MB = 5000

# 200 files max
MAX_FILES = 200

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Queue Configuration
ANALYSIS_QUEUE_NAME=trajectory_analysis
MAX_CONCURRENT_ANALYSES=2

# SECRET_KEY:
SECRET_KEY=

# SERVER_PORT: The port on which the server 
# is listening for incoming requests.
SERVER_PORT=8000

# SERVER_HOSTNAME: The hostname of the 
# server where the application is running.
SERVER_HOSTNAME=0.0.0.0

# JWT_EXPIRATION_DAYS: Specifies the validity duration 
# of JWT tokens issued for user authentication.
JWT_EXPIRATION_DAYS=7

CLIENT_HOST=http://172.20.10.5:5173
CLIENT_DEV_HOST=http://172.20.10.5:5173

# LOG_LEVEL: debug | error | info | warn
LOG_LEVEL=info

# PRODUCTION_DATABASE: Specifies the production 
# database the application will connect to.
PRODUCTION_DATABASE=opendxa@production

# DEVELOPMENT_DATABASE: Specifies the development 
# database the application will connect to.
DEVELOPMENT_DATABASE=opendxa@development

# MONGO_URI: MongoDB connection URI 
# used by the application.
MONGO_URI=

# MONGO_AUTH_SOURCE: Specifies the database to authenticate against.
# Use this if your authentication credentials are stored in a different database
# than the one you're connecting to. Commonly, this is set to "admin".
MONGO_AUTH_SOURCE=admin

# SMTP_HOST (OPTIONAL): Points to the host of the SMTP server. For example "smtp.myservice.com".
SMTP_HOST=

# SMTP_PORT (OPTIONAL): Set the port of your SMTP server, it 
# can be 465, 587 or simply 25, depending on your provider.
SMTP_PORT=

# SMTP_AUTH_USER (OPTIONAL): Enter the username of the account you want 
# to send emails with, for example: "no-reply@myquantumservice.com".
SMTP_AUTH_USER=

# SMTP_AUTH_PASSWORD (OPTIONAL): Enter the password to authenticate 
# with "SMTP_AUTH_USER".
SMTP_AUTH_PASSWORD=

# WEBMASTER_MAIL (OPTIONAL): Enter the email address to which you want 
# important notifications to be sent about events within the server, such 
# as errors, reports, among other things.
WEBMASTER_MAIL=