.editor-file-list-container {
    bottom: 2rem;
    overflow: hidden;
    left: 2rem;
}

.file-list-body-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 0.5rem;
}