.dashboard-container:has(.chat-main-container) {
    padding: .5rem;
}

.dashboard-container{
    padding-top: unset !important;
}

.search-container {
    border: 1px solid var(--color-border);
    background-color: var(--color-surface-2);
    height: 2.7rem;
    padding: 0 1.5rem;
    border-radius: 5rem;
    width: 500px;
    transition: .2s;
}

.search-input {
    font-size: .95rem;
    background-color: transparent;
}

.search-container:hover {
    opacity: .9;
}