.dashboard-container:has(.chat-main-container) {
    padding: .5rem;
}

.search-container {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface-2);
    height: 2.7rem;
    color: var(--color-text-primary);
    padding: 0 1.5rem;
    border-radius: 5rem;
    width: 500px;
    transition: .2s;
}

.search-input {
    height: 100%;
    font-size: .95rem;
    background-color: transparent;
}

.search-container:hover {
    opacity: .9;
}