.editor-sidebar-options-wrapper-container{
    padding: 1.5rem;
}

.editor-sidebar-options-container{
    display: flex;
    background-color: rgba(49, 49, 49, 0.2);
    padding: .5rem;
    border-radius: 5rem;
    justify-content: space-between;
}

.editor-sidebar-header-container{
    padding: 1.5rem 1.5rem;
}

.editor-sidebar-trajectory-info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor-sidebar-trajectory-name{
    font-size: 1.3rem;
}

.editor-sidebar-team-name{
    color: #dadada;
}

.editor-sidebar-trajectory-info-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-sidebar-panel-icon-container{
    font-size: 1.5rem;
}

.editor-sidebar-trajectory-drop-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.editor-sidebar-trajectory-drop-icon-container{
    font-size: 1.4rem;
    margin-top: 5px;
}

.editor-sidebar-container{
    background-color: rgba(29, 29, 29, 0.1) !important;
    border-radius: 1rem;
    padding: 0;
    height: 98%;
    width: 380px;
    position: absolute;
    left: .5rem;
    gap: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    display: flex;
    justify-content: space-between;
}

.editor-sidebar-scene-container{
    padding: 1.5rem;
}

.editor-sidebar-scene-options-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.editor-sidebar-user-avatar-wrapper{
    padding: 1.5rem;
}

.editor-sidebar-user-avatar-wrapper .sidebar-user-fullname{
    color: #dadada;
}

.editor-sidebar-top-container > div:not(:last-child){
    border-bottom: 1px solid #212121;
}

.editor-sidebar-bottom-container > div{
    border-top: 1px solid #212121;
}
