.render-options-container{
    right: 2rem;
    bottom: 2rem;
}

.render-header-loader-container{
    position: unset;
}

.render-options-container .editor-floting-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}