.sidebar-teams-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-new-team-container{
    display: flex;
    align-items: center;
    gap: .8rem;
    outline: 1px dashed #dadada;
    border-radius: .25rem;
    padding: .8rem;
    cursor: pointer;
}

.sidebar-new-team-container:hover{
    background-color: #ececec;
    outline: none;
}

.sidebar-new-team-title{
    font-size: .9rem;
}