.dashboard-main-container{
    display: flex;
    height: 400px;
    gap: 1rem;
}

.jobs-history-viewer{
    width: 50%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #dadada;
    padding: 1.5rem;
    border-radius: 2rem;
}

.jobs-history-viewer-body{
    height: 100%;
    overflow: scroll;
    padding-right: .5rem;
}

.jobs-history-title{
    font-size: 1.5rem;
    font-weight: 500;
}