.dashboard-main-container{
    display: flex;
    height: 400px;
    gap: 1rem;
}

.jobs-history-viewer{
    width: 50%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #dadada;
    padding: 1.5rem;
    border-radius: 2rem;
}

.jobs-history-viewer-body{
    height: 100%;
    overflow: scroll;
    padding-right: .5rem;
}

.jobs-history-title{
    font-size: 1.5rem;
    font-weight: 500;
}

.dashboard-wrapper-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 768px){
    .dashboard-main-container{
        flex-direction: column;
        height: auto;
    }

    /* TODO: FLOATING CONTAINER! */
    .jobs-history-viewer{
        display: none;
    }
}