.trajectory-share-status-icon-container{
    font-size: 1.6rem;
}

.trajectory-share-status-container{
    position: absolute;
    right: 2rem;
    width: auto;
    padding: 1rem;
    border-radius: 5rem;
    overflow: hidden;
    top: 2rem;
    z-index: 200;
}
