.trajectory-fs-container{
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 99999999;
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
}

.search-breadcrumbs-container{
    display: flex;
    align-items: center;
}

.search-breadcrumb-container{
    display: flex;
    align-items: center;
}

.trajectory-fs-left-top-container{
    padding: 1rem;
    display: flex;
    min-width: 220px;
    flex-direction: column;
    width: 20%;
    gap: 3rem;
}

.trajectory-fs-header-icon-container.is-disabled{
    opacity: .4;
}

.trajectory-fs-left-bottom-nav-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.trajectory-fs-left-bottom-nav-icon-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.trajectory-fs-left-bottom-nav-icon-container:hover{
    opacity: .8;
}

.trajectory-fs-left-bottom-nav-title{
    font-size: .95rem;
}

.trajectory-fs-left-bottom-container{
    padding: 1rem;
}

.trajectory-fs-cluster-details{
    font-size: .8rem;
}

.trajectory-fs-left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trajectory-fs-right-container{
    height: 100%;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.trajectory-fs-nav{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.trajectory-fs-nav-items{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.trajectory-fs-nav-title{
    font-size: .9rem;
    font-weight: 500;
}

.trajectory-fs-nav-item-title{
    font-size: .8rem;
    font-weight: 400;
}

.trajectory-fs-list-headrow{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    gap: 8px;
    padding: 8px 10px;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.trajectory-fs-list-row{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    gap: 8px;
    padding: 8px 10px;
    align-items: center;
    cursor: default;
}

.trajectory-fs-list-body{
    height: 100%;
    overflow-y: scroll;
    flex: 1 1 auto;
    min-height: 0;
}

.trajectory-fs-list-name-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.trajectory-fs-list-headrow .trajectory-fs-list-column{
    text-transform: capitalize;
}


.trajectory-fs-list-body .trajectory-fs-list-row:hover{
    cursor: pointer;
    opacity: .8;
}

.trajectory-fs-right-header{
    display: flex;
    gap: 2rem;
}

.trajectory-fs-search-container{
    width: -webkit-fill-available;
    border-radius: .5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: .8rem;
    gap: .8rem;
}

.search-breadcrumb-name{
    font-size: .85rem;
}

.search-breadcrumb-container:not(:last-child)::after{
    content: " / ";
    margin: 0 .4rem;
    font-size: .7rem;
}