.editor-floating-container {
    background-color: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(35px) saturate(160%);
    z-index: 200;
    border-radius: var(--radius-lg);
    color: #cacaca;
    line-height: 1.6rem;
    width: 400px;
    /*cursor: grab;*/
    opacity: 1;
    transition: opacity 500ms ease;
}

.editor-floating-container.dimmed {
    opacity: 0.5;
}

.editor-floating-header-icon {
    color: #cacaca;
}

@media screen and (max-width: 768px) {
    .editor-floating-container {
        left: 0;
        right: 0;
        width: auto;
        margin: 0 1rem 1rem;
        padding: 1rem;
        max-width: none;
        transform: none !important;
    }
}