.sign-in-main{
    padding: 2rem;
}

.sign-in-body-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    width: 100%;
}

.sign-in-fullname-container{
    display: flex;
    gap: 1rem;
}

.sign-in-body-header-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.sign-in-body-header-title{
    font-size: 2rem;
    line-height: 3rem;
}

.breadcrumbs-container{
    display: flex;
}

.breadcrumb-title{
    font-size: .98rem;
    text-transform: uppercase;  
}

.breadcrumb-container:last-child .breadcrumb-sep{
    display: none;
}

.breadcrumb-sep{
    font-size: .98rem;
    margin: 0 .5rem;
}

.go-back-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
    transition: .2s;
}

.go-back-title{
    font-size: 1.3rem;
}

.go-back-arrow-container{
    font-size: 1.8rem;
}

.go-back-container:hover{
    opacity: .7;
}

.auth-agree-text{
    font-size: 0.8125rem;
    font-weight: 400;
    color: hsl(0,0%,40%);
}

.auth-agree-text span{
    color: #000;
    cursor: pointer;
}

.form-submit-button-container{
    color: #FFF;
    padding: 1.2rem;
    width: 400px;
    border-radius: .5rem;
    background-color: #000;
    transition: .2s;
}

.form-submit-button-container:not(:disabled):hover{
    opacity: .8;
    cursor: pointer;
}

.form-submit-button-title{
    font-weight: 500;
}

.form-submit-button-container:disabled{
    background-color: hsl(0,0%,95%);
    border: 1px solid hsl(0,0%,92%);
}

.form-submit-button-container:disabled .form-submit-button-title{
    color: hsl(0,0%,56%);
}

.sign-in-form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sign-in-form-footer-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-submit-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem;
}

