.search-input{
    height: 100%;
    font-size: .95rem;
    background-color: transparent;
}

.dashboard-header-right-container,
.dashboard-clickables-container{
    height: 100%;
}

.dashboard-clickable-container{
    font-size: 1rem;
    width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
}

.dashboard-clickable-container:hover{
    background-color: #f3f3f3;
}

.dashboard-container{
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.dashboard-header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.dashboard-header-left-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dashboard-header-right-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-container{
    display: flex;
    gap: 1rem;
    background-color: #212121;
    height: 2.7rem;
    color: #FFF;
    padding: 0 1.5rem;
    border-radius: 5rem;
    width: 500px;
    transition: .2s;
}

.search-container:hover{
    opacity: .9;
}

.create-new-button-container{
    display: flex;
    width: fit-content;
    color: #FFF;
    font-size: .95rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: rgb(16 16 16 / 90%);
    gap: .5rem;
    transition: .2s;
}

.create-new-button-container:hover{
    background-color: rgb(31, 124, 231);
}

.create-new-button-dropdown-icon-container{
    font-size: 1rem;
}

.dashboard-header-title{
    font-size: 1.3rem;
}

.dashboard-header-right-mobile-container{
    display: none;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 768px){
    .dashboard-container{
        padding: 1rem;
    }

    .dashboard-header-container{
        height: auto;
    }

    .dashboard-header-right-container{
        display: none;
    }

    .dashboard-header-right-mobile-container{
        display: flex;
    }

    .dashboard-clickable-container{
        height: 2.5rem;
    }

    .dashboard-header-title{
        font-size: 1.5rem;
    }
}