

.file-upload-container {
    height: 100%;
    width: 100%;
}

/* Ensure Canvas from react-three-fiber occupies 100% of parent */
canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}