.file-item {
    border-radius: var(--radius-sm);
    transition: all 0.2s;
}

.file-delete-icon-container {
    padding: 0.25rem;
    border-radius: var(--radius-xs);
    transition: all 0.2s;
}

.file-delete-icon-container:hover {
    background-color: color-mix(in srgb, var(--color-text-primary) 10%, transparent);
}

.file-delete-icon {
}
