.loader-layer-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(1.5px);
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-sidebar-options-wrapper-container{
    padding: 1.5rem;
}

.editor-sidebar-options-container{
    display: flex;
    background-color: rgba(49, 49, 49, 0.2);
    padding: .5rem;
    border-radius: 5rem;
    justify-content: space-between;
}

.editor-sidebar-option-container.selected{
    background-color: rgba(49, 49, 49, 0.8);
}

.editor-sidebar-option-container{
    border-radius: 5rem;
    width: 48%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-sidebar-option-title{
    font-size: 1.05rem;
    font-weight: 500;
}

.editor-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.editor-analyzing-container{
    position: absolute;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dislocation-result-type{
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}

.dislocation-result-item-title{
    font-size: .96rem;
}

.dislocation-result-item-header-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dislocation-results-container{
    top: 7rem;
    left: 2rem;
    width: 400px;
    height: 550px;
    overflow: hidden;
}

.dislocation-results-summary-container{
    position: absolute;
    bottom: 0;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgb(30 30 30 / 91%);
    border: 1px solid #212121;
    left: 0;
    bottom: -11px;
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: 0 auto;
    width: 97%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dislocation-result-data-container{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.dislocation-result-data{
    display: flex;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.dislocation-result-item{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.dislocation-result-data .data-value{
    color: #b3b3b3;
}

.dislocation-summary-item{
    display: flex;
    gap: .5rem;
}

.dislocation-summary-value{
    font-size: .8rem;
}

.dislocation-summary-label{
    font-size: .8rem;
}

.dislocation-results-body-container{
    max-height: 500px;
    padding-bottom: 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.editor-dislocations-button-icon {
    font-size: 1.5rem;
}

.editor-dislocations-button-text {
    font-weight: 500;
}

.file-upload-loader-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(1px);
    display: flex;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.file-upload-loader-container p{
    margin-top: 7rem;
    color: #dadada;
}

.editor-sidebar-header-container{
    padding: 1.5rem 1.5rem;
}

.editor-sidebar-trajectory-info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor-sidebar-trajectory-name{
    font-size: 1.3rem;
}

.editor-sidebar-team-name{
    color: #dadada;
}

.editor-sidebar-trajectory-info-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-sidebar-panel-icon-container{
    font-size: 1.5rem;
}

.editor-sidebar-trajectory-drop-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.editor-sidebar-trajectory-drop-icon-container{
    font-size: 1.4rem;
    margin-top: 5px;
}

.editor-sidebar-container{
    background-color: rgba(29, 29, 29, 0.1) !important;
    border-radius: 1rem;
    padding: 0;
    height: 98%;
    width: 380px;
    position: absolute;
    left: .5rem;
    gap: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    display: flex;
    justify-content: space-between;
}

.editor-sidebar-top-container > div:not(:last-child){
    border-bottom: 1px solid #212121;
}

.editor-sidebar-bottom-container > div{
    border-top: 1px solid #212121;
}

.trajectory-share-status-container{
    position: absolute;
    right: 2rem;
    width: auto;
    padding: 1rem;
    border-radius: 5rem;
    overflow: hidden;
    top: 2rem;
    z-index: 200;
}

.editor-sidebar-scene-container{
    padding: 1.5rem;
}

.editor-sidebar-scene-option-icon-container{
    background-color: #212121;
    padding: .8rem;
    font-size: 1.3rem;
    border-radius: .5rem;
}

.editor-sidebar-scene-options-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.editor-sidebar-scene-option-container{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: .5rem;
    transition: .025s;
}

.editor-sidebar-scene-option-container:hover{
    background-color: rgb(85 85 85 / 18%);
    border-radius: .5rem;
}

.editor-sidebar-scene-option-title{
    font-size: 1.2rem;
}

.trajectory-share-status-icon-container{
    font-size: 1.6rem;
}

.editor-sidebar-user-avatar-wrapper{
    padding: 1.5rem;
}

.editor-top-centered-options-container{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 1rem;
    flex-direction: row;
    height: 55px;
    width: auto;
    padding: .5rem;
}

.editor-top-centered-options-container .editor-sidebar-scene-option-icon-container{
    background-color: transparent;
    transition: .1s;
}

.editor-top-centered-options-container .editor-sidebar-scene-option-icon-container:hover{
    background-color: #212121;
}

.editor-scene-zoom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
    border-radius: 5rem;
    background-color: rgba(49, 49, 49, 0.8);
}