.editor-analysis-config {
    right: 2rem;
    top: 8rem;
}

.editor-analysis-config-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-analysis-config-header-title {
    font-weight: 500;
}

.editor-analysis-config-body-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 500px;
    padding-right: 1rem;
    overflow-y: scroll;
}

.editor-analysis-config .start-analysis-btn{
    width: 100%;
}