.editor-analysis-config {
    right: 2rem;
    top: 2rem;
}

.editor-analysis-config-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-analysis-config-header-title {
    font-weight: 500;
}

.editor-analysis-config-body-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 500px;
    overflow-y: scroll;
}