.perf-monitor-container {
    left: 25rem;
    top: 6rem;
    backdrop-filter: unset;
    background: transparent;
}

.perf-monitor-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem 0.75rem;
}
