.modifier-configuration {
    right: 1rem;
    top: 6.5rem;
}

.modifier-configuration-body-container {
    max-height: 500px;
    padding-right: 1rem;
}

.no-fields-text{
    padding: 1rem 0;
}

.modifier-configuration .start-analysis-btn {
    width: 100%;
}