.activity-heatmap-container {
    width: auto;
    min-width: 850px;
    display: flex;
    align-items: center;
}

.activity-heatmap-container svg {
    height: 100%;
    width: 100%;
}

.react-calendar-heatmap rect {
    fill: rgba(255, 255, 255, 0.1);
}

.react-calendar-heatmap .color-empty {
    fill: rgba(255, 255, 255, 0.1);
    rx: 2px;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #d0e2ff;
    rx: 2px;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #78a9ff;
    rx: 2px;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #0f62fe;
    rx: 2px;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #0043ce;
    rx: 2px;
}

.react-calendar-heatmap text {
    font-size: 11px;
    fill: var(--color-text-secondary);
}

.react-calendar-heatmap rect {
    shape-rendering: geometricPrecision;
}
