.monaco-editor-container{
    width: 600px;
    height: 400px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.monaco-editor{
    width: 100%;
    height: 100%;
}