.labeled-input {
    width: 160px;
    height: 2rem;
    padding: 0 1rem;
    background-color: #252525;
    color: #dadada;
    border-radius: .5rem;
}

.labeled-input:focus {
    outline: 2px solid #fd5b01;
    outline-offset: 2px;
}

.labeled-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}