.button{
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--button-bg);
    color: var(--button-fg);
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    border: 1px solid var(--button-border);
}

.button.smooth{
    background-color: var(--button-bg-smooth);
}

.button.click-scale:active{
    transform: scale(.95);
}

.button:hover(:not(.smooth)){
    opacity: .9;
}

.button.sm-radius{
    border-radius: .5rem;
}

.button-text{
    font-size: 1rem;
    font-weight: 400;
}

.button-loader-layer-container{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    margin: 2rem 0;
}

.button.is-loading{
    /* TODO: ugly! */
    height: 3rem;
    opacity: .8;
}