.form-control-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-control-row{
    display: flex;
    align-items: center;
}

.form-control-section{
    margin-bottom: 20px;
}