.trajectory-share-status-icon-container {
    font-size: 1.6rem;
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    display: inline-flex;
    color: inherit;
}

.trajectory-share-status-container {
    right: 1rem;
    width: auto;
    border-radius: var(--radius-full);
    top: 2rem;
    z-index: 200;
}

.trajectory-share-status-container .share-btn{
    height: unset !important;
    width: unset !important;
}

.trajectory-share-status-container.is-disabled{
    opacity: 0.6;
}
