.user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

.user-avatar-container[data-rounded='true'] {
    background-image: linear-gradient(to top, #5602b6 0%, #9472cdf5 100%);
}

.user-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-avatar-initials {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}
