.Loader-Item{
    position: absolute;
    width: 12px;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
}

@keyframes blink{
    0%{ background: #ddd }
    100%{ background: #333 }
}

@keyframes rotate{
    0%{ transform: rotate(0deg) }
    100%{ background: rotate(360deg) }
}