
.system-notification-container{
    background-color: var(--glass-bg);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 400px;
    padding: 1rem;
    z-index: 9999999999999;
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow-elevated);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
}

.system-notification-content{
    color: var(--color-text-secondary);
    font-size: .9rem;
    line-height: 1.3rem;
}

.system-notification-footer-container{
    display: flex;
    justify-content: flex-end;
}

.system-notification-btn{
    border: 1px solid var(--button-border);
    color: var(--button-fg);
    background-color: var(--button-bg-smooth);
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.1s;
}

.system-notification-btn:hover{
    filter: brightness(1.1);
}
