.ai-prompt-container-wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.ai-prompt-add-file-container{
    display: flex;
    font-size: .9rem;
    gap: 1rem;
    align-items: center;
}

.ai-prompt-add-file-icon-container{
    width: 27px;
    height: 27px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 4px 16px rgba(0, 0, 0, 0.05);
    color: white;
}

.ai-prompt-container{
    width: 650px;
    height: 60px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 
        0 4px 20px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.05);
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.ai-prompt-icon-container{
    background-color: #000;
    color: #FFF;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
}

.ai-prompt-input{
    height: 100%;
    font-size: .9rem;
    background-color: transparent;
    width: 100%;
}

@media screen and (max-width: 768px){
    .ai-prompt-container-wrapper{
        display: none;
    }
}