.team-creator-container{
    width: 1000px;
    height: 600px !important;
    position: absolute;
    z-index: 99999999999999999999;
    border-radius: .5rem;
    overflow: hidden;
    position: absolute;
}

.team-creator-container{
    height: 100%;
    display: flex;
}

.team-creator-left-container{
    width: 50%;    
}

.team-creator-right-container{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.team-creator-background{
    width: 100%;
    height: 100%;
}

.team-creator-title{
    font-size: 1.7rem;
}

.team-creator-header-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.team-creator-description{
    font-size: 1rem;
    line-height: 1.5rem;
}

.team-creator-body-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.team-creator-body-container .button{
    width: 80%;
}