.analysis-config-selection-container{
    position: absolute;
    padding: 0;
    right: 7rem;
    top: 2.5rem;
    z-index: 999999;
    width: 240px;
}

.analysis-config-select-container option{
    color: #000;
}
