.color-coding-container{
    bottom: 2rem;
    overflow: hidden;
    right: 2rem;
    display: flex;
    flex-direction: column;
}

.color-coding-footer-container .button{
    width: 100%;
}

.color-coding-body-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}