.job-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
}

.job-left-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.job-icon-container{
    min-width: 1.8rem;
    min-height: 1.8rem;
    border-radius: 50%;
}

.job-status-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.job-status-badge{
    padding: .5rem 1rem;
    border-radius: 5rem;
    font-size: 13px;
    font-weight: 600;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
}

.job-info-container{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.job-name{
    font-size: .85rem;
    font-weight: 400;
    color: #dadada;
}

.job-message{
    font-weight: 500;
    font-size: .95rem;
}

/* Completed */
.job-container.completed path{
    stroke: rgb(24, 165, 24);
}

.job-container.completed .job-icon-container{
    border: 1px solid rgb(24, 165, 24);
}

.job-container.completed .job-status-badge,
.job-container.completed .job-icon-container,
.job-container.completed .job-message{
    color: #22c55e;
}

.job-container.completed .job-status-badge, 
.job-container.completed .job-icon-container{
    background-color: #dcfce7; 
}

/* Running */
.job-container.running path{
    stroke: #3b82f6;
}

.job-container.running .job-icon-container{
    border: 1px solid #3b82f6;
}

.job-container.running .job-status-badge,
.job-container.running .job-icon-container,
.job-container.running .job-message{
    color: #3b82f6;
}

.job-container.running .job-status-badge, 
.job-container.running .job-icon-container{
    background-color: #dbeafe; 
}

/* Queued */
.job-container.queued path{
    stroke: #f59e0b;
}

.job-container.queued .job-icon-container{
    border: 1px solid #f59e0b;
}

.job-container.queued .job-status-badge,
.job-container.queued .job-icon-container,
.job-container.queued .job-message{
    color: #f59e0b;
}

.job-container.queued .job-status-badge, 
.job-container.queued .job-icon-container{
    background-color: #fef3c7; 
}

/* Retrying */
.job-container.retrying path{
    stroke: #f97316;
}

.job-container.retrying .job-icon-container{
    border: 1px solid #f97316;
}

.job-container.retrying .job-status-badge,
.job-container.retrying .job-icon-container,
.job-container.retrying .job-message{
    color: #f97316;
}

.job-container.retrying .job-status-badge, 
.job-container.retrying .job-icon-container{
    background-color: #fed7aa; 
}

/* Queued After Failure */
.job-container.queued_after_failure path{
    stroke: #ef4444;
}

.job-container.queued_after_failure .job-icon-container{
    border: 1px solid #ef4444;
}

.job-container.queued_after_failure .job-status-badge,
.job-container.queued_after_failure .job-icon-container,
.job-container.queued_after_failure .job-message{
    color: #ef4444;
}

.job-container.queued_after_failure .job-status-badge, 
.job-container.queued_after_failure .job-icon-container{
    background-color: #fee2e2; 
}

/* Failed */
.job-container.failed path{
    stroke: #dc2626;
}

.job-container.failed .job-icon-container{
    border: 1px solid #dc2626;
}

.job-container.failed .job-status-badge,
.job-container.failed .job-icon-container,
.job-container.failed .job-message{
    color: #dc2626;
}

.job-container.failed .job-status-badge, 
.job-container.failed .job-icon-container{
    background-color: #fecaca; 
}

/* Unknown */
.job-container.unknown path{
    stroke: #6b7280;
}

.job-container.unknown .job-icon-container{
    border: 1px solid #6b7280;
}

.job-container.unknown .job-status-badge,
.job-container.unknown .job-icon-container,
.job-container.unknown .job-message{
    color: #6b7280;
}

.job-container.unknown .job-status-badge, 
.job-container.unknown .job-icon-container{
    background-color: #f3f4f6; 
}