*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#root{
    width: 100%;
    height: 100vh;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2b2b2b;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover{
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}

.MuiSkeleton-root{
    background-color: rgb(82 82 82 / 11%) !important;
}

.primary-surface{
    background: rgba(18, 18, 18, 0.45);
    backdrop-filter: blur(18px) saturate(160%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}