*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#root{
    width: 100%;
    height: 100vh;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d3d3d3;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
}