/** Margin **/
.mt-1{
    margin-top: 1rem;
}

/** Position **/
.p-relative{
    position: relative;
}

.p-sticky{
    position: sticky;
}

.p-absolute{
    position: absolute;
}

/** Gap **/
.gap-025{
    gap: 0.25rem;
}

.gap-1{
    gap: 1rem;
}

.gap-05{
    gap: 0.5rem;
}

.gap-1-5{
    gap: 1.5rem;
}

.gap-2{
    gap: 2rem;
}

/** Container **/
.w-max{
    width: 100%;
}

.h-max{
    height: 100%;
}

.vh-max{
    height: 100vh;
}

/** Flexbox **/
.d-flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.items-center,
.flex-center{
    align-items: center;
}

.content-center,
.flex-center{
    justify-content: center;
}

.content-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.a-self-end{
    align-self: flex-end;
}

.f-shrink-0{
    flex-shrink: 0;
}

.d-flex.column{
    flex-direction: column;
}

/** Text **/
.text-center{
    text-align: center;
}

/** Mobile **/
@media (max-width: 768px){
    /** Flexbox **/
    .sm\:column{
        flex-direction: column;
    }

    .sm\:text-center{
        text-align: center;
    }

    .sm\:item-start{
        align-items: flex-start;
    }

    .sm\:gap-1{
        gap: 1rem;
    }

    .sm\:a-self-end{
        align-self: flex-end;
    }
}