node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
*.md
Dockerfile*
docker-compose*.yml
.dockerignore
dist
build
.DS_Store
*.log
coverage
.vscode
.idea
desktop
client/node_modules
client/dist
server/node_modules
opendxa/build
opendxa/dependencies
*.o
*.a
.cache
